body{
    font-family: 'Work Sans', sans-serif;
}

/************header-section css*******/

nav{
    display: flex;
    padding-top: 20px ;
    justify-content: space-between;
}
nav .gamer-left{
    display: flex;
    margin-left: 60px;
   
}
.gamer-left img{
    margin-top: 16px;
    margin-right: 10px;
    height: 36px;
    width: auto;
}
.gamer-left h2{
    font-size: 45px;
    margin-top: 6px;
}
.gamer-left span{
    color: #FF42A5 ;
}

nav .gamer-right{
    display: flex;
    margin-right: 60px;
    margin-top: 10px;
}
.gamer-right ul{
    display: flex;
}
.gamer-right li{
    list-style: none;
    font-weight: 500;
    font-size: 1.25 rem ;
    margin-right: 30px;

}
.gamer-right .social-btn{
    
    font-weight: 500;
    font-size: 1 rem ;
    
    
}
.social-btn img{
    width: 20px;
    height: auto;
   padding-top: 14px;
   margin-left: 4px;

}


/********banner sec-1 css*****/

.banner-1{
    background-color: #FDFBFE;
    display: flex;
    padding: 60px;
}
.banner-1-img img{
    width: 600px;
    height: auto;
    margin-left: 160px;
    
}
.banner-1-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.banner-1-content h1{
    color: #DE4CC1;
    font-size: 95px;
    font-weight: 700;
    margin-top: -30px;
}
.banner-1-content ul{
    list-style: none;
    margin-top:-60px;
    margin-left: -40px;
}
.banner-1-content ul li span{
    color: #534C64;
    font-size: 20px;
    margin-left: 10px;
    padding-top: 5px;
    
}
.banner-1-content img{
    width: 24px;
    height: 22px;
}
.btn-1{
    margin-top: 20px;
    padding: 12px 38px;
    border-radius: 50px;
    font-size: 20px;
    color: #FDFBFE;
    font-weight: 600;
    background-color: #FF42A5;
    border: none;
}
.banner-1-content .btn-2{
    margin-top: 20px;
    margin-left: 20px;
    padding: 12px 38px;
    border-radius: 50px;
    font-size: 20px;
    color: #FDFBFE;
    font-weight: 600;
    background-color: #4EC5F7;
    border: none;
}

/********banner sec-2 css*****/

.banner-2{
    display: flex;
    background-color: #FFF9FC;
    text-align: right;
    padding-right: 60px;
}
.banner-2 img{
    width: 50%;
    height: auto;
}
.banner-2-content{
    margin-left: 60px;
    
}
.title-description{
    font-size: 48px;
    color:#DE4CC1 ;
   

}
.p-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: -20px;
}
.banner-2-content .btn-1{
    margin-top: 6px;
}
.span-description{
    font-size: 24px;
    color: #534C64;
    font-weight: 500;
    margin-top: 24px;
}
.banner-2-content h3{
    font-size: 32px;
    color: #534C64;
    font-weight: 600;
    margin-top: -50px;
}

/********banner-3 sec css******/
.banner-3{
    padding: 60px;
    
}
.banner-3-title{
    text-align: center;
}
.title-description span{
    color: #0B0223;
}
.para-description{
    font-size: 16px;
    font-weight: 400;
    color: #534C64;
    margin-top: 14px;
}
.card-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    padding-top: 20px
}
.card img{
    width: 240px;
    height: auto;
}


/********Reverse css*****/

.reverse-1{
    display: flex;
    padding: 60px;
    justify-content: space-between;
}
.reverse-content{
    text-align: left;
    padding-top: 130px;
}
.reverse-img img{
    width: 580px;
 }
.inner-img img{
    width: 280px;
    position: relative;
    bottom: 220px;
    right: 140px;
}

.reverse-2{
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
}
.reverse-2-img img{
   width: 580px;
}
.inner-2-img img{
    width: 280px;
    position: relative;
    bottom: 220px;
    left: 425px;
}
.reverse-2-content{
    padding-left: 20px;
}






/*******Responsive css******/


/*****for mobile****/

@media screen and (max-width:576px) {

    header{
        padding: 20px;
        

    }

    nav,
    .gamer-right,
    .banner-2,
    .reverse-1,
    .ul
    {

        flex-direction: column;
        text-align: center;
    }
    .banner-1{
        flex-direction: column-reverse;
        padding: 16px;
        margin-top: 40px;

    }
    .reverse-2{
        flex-direction: column-reverse;
    }
    .banner-1-img img  {
        
        margin-left: auto;
        width: 90%;
        
    }
    ul{
        flex-direction: column;
        
    }
    ul li{
        padding-bottom: 30px;
    }
    .gamer-right .social-btn{
        margin-top: -30px;
        padding-left: 20px;
    }
    .banner-2{
        padding-right: 40px;
    }
    .banner-2 img{
        width: 90%;
        margin-left: auto;
    }

    .card-sec{
        grid-template-columns: 1fr ; 
    }

    .reverse-1, .reverse-2{
        padding-top: 0;
        margin-top: -160px;
    }
    .reverse-img img {
        width: 100%;
        margin-left: auto;
    }
    .reverse-2-img img{
        width: 90%;
        margin-left: 20px;
    }
    .inner-img img{
        width: 46%;
        bottom: 90px;
        padding-left: 60px;
    }
    .inner-2-img img{
        width: 46%;
        left: 140px;
        bottom: 80px;
        
    }
    .banner-3-title{
        text-align: center;
    }
    
   

    
}

/*******for tablet******/


@media screen  and (min-width: 576px) and (max-width:960px){

    nav{
        flex-direction: row;
    }
    .banner-1 {
        flex-direction: column;
        text-align: center;
    }
    .banner-2{
        flex-direction: column-reverse;
        text-align: center;
    }
   
    .banner-1 .banner-1-content{
        padding: 0px;
       
    }
    .banner-1-img img {
        
        margin-left: 40px;
        width: 420px;
        padding-top: 40px;
        
    }

    .banner-2{
        padding: 0px 30px;
    }
    .banner-2 img{
        width: 450px;
        margin-left: 120px;
        
    }
    .card-sec{
        padding: 0px 60px;
        grid-template-columns: repeat(2, 1fr) ; 
    }
    .reverse-1, .reverse-2{
        flex-direction: column;
    }
    .reverse-content, .reverse-2-content{
        text-align: center;
        padding-top: 0;
        margin-top: -50px;
    }
    .reverse-img img, .reverse-2-img{
        width: 90%;
        padding-left: 30px;
    }

    .inner-img img {
        width: 34%;
        bottom: 180px;
        padding-left: 100px;
    }
    .inner-2-img img{
        width: 46%;
        left: 380px;
        bottom: 180px;
        
    }
}

